<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiCtrl Home</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: rgb(9, 23, 37);
        }

        .logs {
            overflow-wrap: anywhere;
            white-space: pre-wrap;
            font-family: monospace;
            color: #eeeeee;
        }
    </style>
    <div class="max-w-screen min-h-screen py-2 px-4">
        <div>
            <h1 class="text-3xl text-center text-neutral-100">PiCtrl Home</h1>
            {% set all_filters = [["pictrl", "pictrl.autoupdate", "pictrl.internet", "pictrl.run", "pictrl.server", "pictrl.tunnel"], ["source", "source.autoupdate", "source.run", "source.setup", "source.tunnel"]] %}
            <div class="py-3 flex flex-col md:flex-row justify-center gap-10 text-neutral-200">
                <div>
                    {% for filtergroup in all_filters %}
                        <div>
                            <input class="aspect-square h-4" type="checkbox" id="fg-{{ filtergroup[0] }}">
                            <label for="fg-{{ filtergroup[0] }}">{{ filtergroup[0] }}</label>
                        </div>

                        <div class="ml-6">
                            {% for filter in filtergroup[1:] %}
                                <div>
                                    <input class="aspect-square h-4 opacity-100 disabled:opacity-60" type="checkbox" id="fg-{{ filter }}">
                                    <label for="fg-{{ filter }}">{{ filter }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="flex flex-col gap-4">
                    <div>
                        <label for="start">Start time</label><br>
                        <input class="bg-neutral-700 p-1 rounded" type="datetime-local" id="start" >
                    </div>
                    <div>
                        <label for="start">End time</label><br>
                        <input class="bg-neutral-700 p-1 rounded" type="datetime-local" id="end" >
                    </div>
                    <div class="flex flex-row justify-center">
                        <button class="rounded px-3 py-1 bg-blue-600 hover:opacity-80 active:opacity-60" hx-get="/restart" hx-swap="none">Restart</button>
                    </div>
                </div>
            </div>

            <div id="logs-container" class="overflow-y-auto max-h-[70vh] border-2 border-neutral-600 rounded px-1">
                <pre id="logs" class="logs" 
                    hx-get="/logs" 
                    hx-trigger="load delay:.5s, every 5s, load-logs" 
                    hx-sync="this:replace"
                    hx-swap="innerHTML" 
                    hx-vals="js:{...getLogParams()}" 
                    hx-on::before-request="checkScrolledToBottom()" 
                    hx-on::after-request="scrollToBottomLogs()"
                ></pre>
            </div>
        </div>
    </div>

    <script>
        var all_filters = {{ all_filters | tojson }};
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let savedFilters = (localStorage.getItem("pictrl.filters") || "").split(",");
            all_filters.flat(2).forEach((filter) => {
                document.getElementById(`fg-${filter}`).checked = savedFilters.includes(filter);
            });

            function saveFilters() {
                localStorage.setItem("pictrl.filters", all_filters.flat(2).flatMap((filter) => document.getElementById(`fg-${filter}`).checked ? [filter] : []).join(","));
            }

            function updateFilters() {
                all_filters.forEach((filtergroup) => {
                    let groupChecked = document.getElementById(`fg-${filtergroup[0]}`).checked;
                    filtergroup.slice(1).forEach((filter) => {
                        let checkbox = document.getElementById(`fg-${filter}`);
                        if (groupChecked) {
                            checkbox.setAttribute("disabled", true);
                        } else {
                            checkbox.removeAttribute("disabled");
                        }
                    });
                });
            }

            updateFilters();

            all_filters.forEach((filtergroup) => {
                document.getElementById(`fg-${filtergroup[0]}`).addEventListener("change", updateFilters);
            });

            all_filters.flat(2).forEach((filter) => {
                document.getElementById(`fg-${filter}`).addEventListener("change", function() {
                    saveFilters();
                    htmx.trigger("#logs", "load-logs");
                });
            });
        });

        function parseDateTime(id) {
            let value = document.getElementById(id).value;
            return value ? new Date(value).getTime() / 1000 : null;
        }
        function getLogParams() {
            return {
                "start": parseDateTime("start"),
                "end": parseDateTime("end"),
                "filters": all_filters.flat(2).flatMap((filter) => document.getElementById(`fg-${filter}`).checked ? [filter] : []).join(",")
            };
        }

        var keepAtBottomLogs = false;
        function checkScrolledToBottom() {
            var logs = document.getElementById("logs-container");
            keepAtBottomLogs = logs.scrollHeight - logs.scrollTop - logs.clientHeight < 1;
        }
        function scrollToBottomLogs() {
            if (keepAtBottomLogs) {
                var logs = document.getElementById("logs-container");
                logs.scrollTop = logs.scrollHeight;
            }
        }
    </script>
</body>
</html>